* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #9d9d9d;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.wraper {
    padding-top: 133px;
}

.item {
    width: 260px;
    float: left;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.center_item {
    margin: 0 60px;
}

.icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    background-color: #2a69a6;
    border-radius: 50px;
    border: 2px solid #2a69a6;
    background-image: url(img/sprite.png);
    background-repeat: no-repeat;
    margin-bottom: 8px;
}

.icon:hover {
    background-color: #fff;
}

.icon.icon_1 {
    background-position: 18px 15px;
}

.icon.icon_1:hover {
    background-position: 18px -39px;
}

.icon.icon_2 {
    background-position: -58px 16px;
}

.icon.icon_2:hover {
    background-position: -58px -39px;
}

.icon.icon_3 {
    background-position: -137px 15px;
}

.icon.icon_3:hover {
    background-position: -137px -40px;
}

.item h2 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 10px;
}