* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-align: center;
}

.container {
    background-color: #121116;
    height: 1170px;
    padding-top: 120px;
    margin: 0 auto;
}

.logo {
    padding-right: 4px;
    margin-bottom: 40px;
}

.title { 
    font-size: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    padding-bottom: 14px;
    padding-left: 6px;
    width: 230px;
    margin: 0 auto 14px auto;
   

}

li {
    display: inline-block;
}

.icon {
    list-style: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(img/icon_sprite.png);
    background-repeat: no-repeat;
    margin: 0 4px;
}
    

.icon_1 {
    background-position: 5px 6px;
}

.icon_2 {
    background-position: -37px 6px;
}

.icon_3 {
    background-position: -80px 6px;
}

.icon_4 {
    background-position: -122px 6px;
}
.icon_container {
     margin-bottom: 70px;
 }
p {
    padding-left: 16px;
    font-size: 15px;
    font-weight: 600;
}

.comp_name {
    color: #00c7fc;
}