    @import '_reset.scss';
    @font-face {
        font-family: 'Myriad Pro Regular';
        font-style: normal;
        font-weight: normal;
        src: local('Myriad Pro Regular'), url('../fonts/myriad/MYRIADPRO-REGULAR.woff2') format('woff2');
    }
    
    @font-face {
        font-family: 'Myriad Pro Condensed';
        font-style: normal;
        font-weight: normal;
        src: local('Myriad Pro Condensed'), url('../fonts/myriad/MYRIADPRO-COND.woff2') format('woff2');
    }
    
    @font-face {
        font-family: 'Myriad Pro Condensed Italic';
        font-style: normal;
        font-weight: normal;
        src: local('Myriad Pro Condensed Italic'), url('../fonts/myriad/MYRIADPRO-CONDIT.woff2') format('woff2');
    }
    
    @font-face {
        font-family: 'Myriad Pro Light';
        font-style: normal;
        font-weight: normal;
        src: local('Myriad Pro Light'), url('../fonts/myriad/MyriadPro-Light.woff2') format('woff2');
    }
    
    @font-face {
        font-family: 'Myriad Pro Semibold';
        font-style: normal;
        font-weight: normal;
        src: local('Myriad Pro Semibold'), url('../fonts/myriad/MYRIADPRO-SEMIBOLD.woff2') format('woff2');
    }
    
    @font-face {
        font-family: 'Myriad Pro Semibold Italic';
        font-style: normal;
        font-weight: normal;
        src: local('Myriad Pro Semibold Italic'), url('../fonts/myriad/MYRIADPRO-SEMIBOLDIT.woff2') format('woff2');
    }
    
    @font-face {
        font-family: 'Myriad Pro Bold Condensed';
        font-style: normal;
        font-weight: normal;
        src: local('Myriad Pro Bold Condensed'), url('../fonts/myriad/MYRIADPRO-BOLDCOND.woff2') format('woff2');
    }
    
    @font-face {
        font-family: 'Myriad Pro Bold';
        font-style: normal;
        font-weight: normal;
        src: local('Myriad Pro Bold'), url('../fonts/myriad/MYRIADPRO-BOLD.woff2') format('woff2');
    }
    
    @font-face {
        font-family: 'Myriad Pro Bold Italic';
        font-style: normal;
        font-weight: normal;
        src: local('Myriad Pro Bold Italic'), url('../fonts/myriad/MYRIADPRO-BOLDIT.woff2') format('woff2');
    }
    
    @font-face {
        font-family: 'Myriad Pro Bold Condensed Italic';
        font-style: normal;
        font-weight: normal;
        src: local('Myriad Pro Bold Condensed Italic'), url('../fonts/myriad/MYRIADPRO-BOLDCONDIT.woff2') format('woff2');
    }
    
    body {
        background: #f9f8fb url('../img/bg.jpg') top center no-repeat;
        font-family: 'Raleway', sans-serif;
    }
    
    .container {
        width: 90%;
        max-width: 1170px;
        margin: 0 auto;
    }
    
    @import '_about.scss';
    @import '_services.scss';
    @import '_gallery.scss';
    @import '_blog.scss';
    @import '_form.scss';
    @media screen and (max-width: 1296px) {
        .blog__item-1 {
            margin-left: 15px;
        }
        .blog__item-3 {
            margin-right: 15px;
        }
    }
    
    @media screen and (max-width: 1026px) {
        #about .about__content {
            min-height: 0;
            .content__right {
                text-align: center;
                padding: 50px 0;
            }
            .content__left::before {
                left: 0;
                top: 40px;
            }
        }
        #services .servises__flex .servises__list {
            order: 2;
            padding: 40px 0;
        }
        #services .servises__flex .servises__title {
            text-align: center;
            padding: 20px 0;
            &::before {
                top: 20px;
            }
            padding: 40px 0;
        }
    }
    
    @media screen and (max-width: 961px) {
        .contact__form {
            order: 2;
            padding-right: 0;
        }
        .contact__flex-cont {
            justify-content: center;
            align-items: center;
        }
        .contact__info {
            text-align: center;
            margin-bottom: 20px;
        }
    }
    
    @media screen and (max-width: 879px) {
        #services .servises__flex .servises__list {
            width: 90%;
        }
        .gallery__title {
            padding-top: 40px;
        }
        .gallery__top,
        .gallery__bottom {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            height: 100%;
        }
        .gallery__bottom {
            margin-bottom: 20px;
        }
        .gallery__top>li.top__item--big,
        .gallery__top>.top__item,
        .gallery__bottom>.bottom__item {
            width: calc(50% - 15px);
            min-width: 370px;
            height: 260px;
            margin-left: 15px;
        }
        .top__item--big img,
        .top__item img,
        .bottom__item img {
            height: 260px;
            object-fit: contain;
        }
        .gallery__bottom>.bottom__item-1 {
            margin-left: 15px;
        }
        .gallery__bottom>.bottom__item-2 {
            margin-right: 15px;
        }
        #gallery button {
            margin-bottom: 40px;
        }
        .subscr__wrapper {
            padding-top: 40px;
        }
        .subscr__form {
            padding-bottom: 40px;
        }
        .blog__wrapper {
            padding: 40px 0;
        }
        .blog__item-wrap {
            margin-bottom: 17px;
        }
        #contact {
            padding-top: 40px;
        }
    }
    
    @media screen and (max-width: 729px) {
        #home {
            height: 653px;
        }
        .home_content {
            padding-top: 112px;
        }
        .nav {
            display: none;
        }
        .nav_mobile {
            display: contents;
        }
        .contact__form {
            width: 64%;
            min-width: 0;
        }
        .footer__flex {
            flex-direction: column;
        }
        .footer__text.fs15 {
            order: 2;
        }
        .footer__text {
            order: 3;
        }
        .footer__img {
            left: 0;
        }
        #footer {
            height: 120px;
        }
    }
    
    @media screen and (max-width: 495px) {
        #home {
            height: 553px;
        }
        .home_content {
            padding-top: 62px;
        }
        #about .about__content .content__right h2,
        #services .servises__flex .servises__title h2,
        #gallery h2,
        #blog h2,
        #contact h2 {
            font-size: 45px;
        }
        #services .servises__flex .servises__title h2 {
            top: calc(50% - 22px);
        }
        #services .servises__flex .servises__list .servises-link .servises-link__icon {
            display: none;
        }
        #services .servises__flex .servises__list .servises-link .servises-link__title {
            width: 100%;
        }
        #services .servises__flex .servises__list .servises-link {
            width: 100%;
            min-width: 0;
        }
        #about .about__content .content__right {
            min-width: 90%;
        }
        .gallery__text {
            padding: 0;
        }
        .gallery__top>li.top__item--big,
        .gallery__top>.top__item,
        .gallery__bottom>.bottom__item {
            width: calc(90% - 15px);
            min-width: 0;
            height: 230px;
        }
        .top__item--big img,
        .top__item img,
        .bottom__item img {
            height: 260px;
            object-fit: contain;
        }
        .subscr__wrapper {
            padding-right: 0;
        }
        .subscr__text {
            padding-right: 0;
        }
        .subscr__form .subscr__email {
            width: 100%;
        }
        .blog_text {
            padding: 0;
        }
        .blog__item {
            width: 80%;
            min-width: 0;
        }
        .contact__p {
            padding: 0;
        }
        .contact__form {
            width: 90%;
            min-width: 270px;
        }
        .contact__info {
            min-width: 0;
            width: 90%;
        }
        .form__error {
            display: none;
        }
        .subscr__form .subscr__email {
            min-width: 270px;
            width: 90%;
        }
        #services .servises__flex .servises__title {
            min-width: 300px;
        }
    }