* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Museo Sans Rounded 100';
    font-style: normal;
    font-weight: normal;
    src: local('Museo Sans Rounded 100'), url('../font/MuseoSansRounded100.woff2') format('woff2');
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Museo Sans Rounded 100';
}

.body {
    background: #111a28 url('../img/bg.jpg') center center no-repeat;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.content {
    display: block;
    position: absolute;
    top: calc(50% - 195px);
    left: calc(50% - 343px);
    width: 686px;
    height: 391px;
    margin: 0 auto;
}

.product-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #111a28;
    border-radius: 10px;
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.82);
}


/* IMG */

.product-card__images {
    width: 402px;
    height: 100%;
    padding: 25px 21px;
}

.product-images {
    display: flex;
    flex-direction: column;
}

.product-images__logo {
    margin-bottom: 65px;
}

.product-images__photo {
    margin: 0 auto 65px;
}

.product-images__circle {
    margin: 0 auto;
}


/* CIRCLE */

.circle {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 66px;
}

.circle__item {
    content: '';
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.circle__item__grey {
    background-color: #1f273f;
    border: 1px solid #1f273f;
}

.circle__item__white {
    background-color: #fff;
    border: 1px solid #fff;
}

.circle__item__red {
    background-color: #ed3333;
    border: 1px solid #ed3333;
}

.circle__item__blue {
    background-color: #29e3ea;
    border: 1px solid #29e3ea;
}

.circle__item:hover {
    border-color: #7d8289;
    transform: scale(1.3);
}


/* INFO */

.product-card__info {
    width: 284px;
    height: 100%;
    padding: 76px 42px;
}

.product-info__model {
    font-size: 24px;
    line-height: 1.083;
    color: #e1e1e1;
    margin-bottom: 10px;
}

.product-info__model-info {
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #e1e1e1;
    opacity: 0.541;
    margin-bottom: 19px;
}


/* Rating */

.product-info__rating {
    display: block;
    margin-bottom: 25px;
}

.product-info__rating span {
    font-size: 10px;
    letter-spacing: 0.3px;
    content: '★';
    color: #7f7f7f;
}

.product-info__rating>span.active {
    color: #f7bf16;
}


/* SIZE */

.product-info__size,
.product-info__qty {
    outline: none;
    width: 67px;
    height: 30px;
    border: 1px solid #e1e1e1;
    background-color: rgb(17, 26, 40);
    font-size: 14px;
    line-height: 1.286;
    color: #e1e1e1;
    opacity: 0.259;
    margin-bottom: 30px;
}

.product-info__size:focus,
.product-info__qty:focus {
    list-style: none;
}


/* BTN */

.product-info__button {
    transition: all .2s ease;
    font-size: 14px;
    line-height: 1.286;
    color: #e1e1e1;
    width: 182px;
    height: 38px;
    border: 1px solid #e1e1e1;
    background-color: rgb(76, 82, 90);
    opacity: 0.259;
}

.product-info__button:hover {
    opacity: 1;
}

.product-info__button:focus {
    outline: none;
}