* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/bg.png) top right no-repeat;
}

.conteiner {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h3 {
    text-align: center;
}

.input-group,
.form-group {
    margin: 20px auto;
    width: 50%;
}

.result {
    margin: 0 auto;
    padding-left: 14px;
    width: 50%;
    height: 40px;
}

.btn-outline-secondary,
.btn-secondary {
    background-color: #28a745;
    color: #fff;
    &:hover,
    &:focus,
    &:visited {
        background-color: #218838;
    }
}

span {
    vertical-align: super;
}

h3 {
    text-align: center;
}

.input-group>.form-control:nth-child(4) {
    border-left: 2px solid #218838;
}

.input-group>.form-control:nth-child(3) {
    border-right: 2px solid #218838;
}