* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: ultra-condensed;

}
.container {
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
}

/* HEADER TOP */

.header_top {
    background: -moz-linear-gradient(90deg, #9b0c4e 0%, #b90b69 40%, #b90b69 99%, #9b0c4e 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9b0c4e), color-stop(1%, #b90b69), color-stop(60%, #b90b69), color-stop(100%, #9b0c4e)); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, #9b0c4e 0%, #b90b69 40%, #b90b69 99%, #9b0c4e 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, #9b0c4e 0%, #b90b69 40%, #b90b69 99%, #9b0c4e 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, #9b0c4e 0%, #b90b69 40%, #b90b69 99%, #9b0c4e 100%); /* ie10+ */
    background: linear-gradient(0deg, #9b0c4e 0%, #b90b69 40%, #b90b69 99%, #9b0c4e 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b0c4e', endColorstr='#9b0c4e',GradientType=0 ); /* ie6-9 */
}

.header_top .container {
    border-left: 1px solid #000;
}

#main_menu {
    list-style: none;
}

#main_menu li {
    display: inline-block;  
    border-right: 1px solid #000;
}

#main_menu li a {
    display: inline-block;  
    text-decoration: none;  
    margin-left: -5px;
    padding: 0 32px;
    color: #fff;
    height: 47px;
    line-height: 47px;
    font-size: 14px;
    letter-spacing: -0.9px;
    text-transform: uppercase;
}

#main_menu li a:hover {
   background-color: #770444;
}

/* HEADER BOTTOM */

.header_bottom {
    background-color: #000;
    height: 261px;
    padding: 1px;
}

h1 {
    color: #fff;
    font-size: 46px;
    font-weight: 400;
    letter-spacing: -1.8px;
    margin-top: 90px;
}

h4 {
    color: #b90b69;
    text-transform: uppercase;
    
}

.logo_sub {
    letter-spacing: -1.3px;
}

.header_bottom .container {
    height: 260px;
    background-image: url('../img/flower.jpg');
    background-position: right 46px top;
    background-repeat: no-repeat;
    padding-top: 1px;
}

/* MAIN CONTAINER */

.main,
.sidebar_left,
.sidebar_right {
    float: left;
    height: 768px;
    margin-top: 28px;
    padding-top: 20px;
    
}

.main {
    width: 420px;
    padding-top: 28px;
}

.sidebar_left {
    width: 250px;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar_right {
    padding-left: 22px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* MAIN */

h3 {
    color: #b51969;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -2.3px;
    margin-bottom: 12px;
    padding-left: 16px;
}

h6 {
    color: #dcd8d5;
    font-size: 7px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin-bottom: 24px;
    padding-left: 16px;
}

.content {
    color: #666a71;
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-right: 24px;
}

span {
    color: #860461;
}

.link_container a {
    text-decoration: none;
    color: #860461;
    font-size: 13px;
    padding-right: 14px;
}

.link_container {
    margin-bottom: 20px;
    padding-left: 14px;
}

.tags {
    background-color: #f2f2f2;
    padding: 8px;
    margin-bottom: 25px;
}

.tags p {
    color: #666a71;
    font-size: 10px;
    font-weight: 700;
    padding-left: 8px;
    
}

/* SIDEBAR */

h4 {
    font-size: 15px;
    letter-spacing: -0.8px;
    margin-bottom:  15px;
}

h5 {
    display: inline-block;
    background-color: #bb086b;
    padding: 2px 14px 3px 10px;
    font-size: 11px;
    color: #fff;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 15px;
}

.sl_content {
    color: #666a71;
    font-size: 13px;
    line-height: 18px;
    text-align: justify;
    margin-bottom: 20px;
}

hr {
    border-bottom: 1.5px solid #e7e7e7;
    opacity: 20%;
    margin-bottom: 13px;
}



.sr_content {
    font-size: 10px;
    line-height: 21px;
    text-transform: uppercase;
    color: #860461;
    list-style-position: inside;
    margin-bottom: 44px;
}

.grey_number {
    color: #666a71;
}

/* FOOTER */

footer {
    background-color: #000;
    text-align: center;
    padding: 36px 0 100px 0;
}

footer p {
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
}

.pink_background {
    display: inline-block;
    background-color: #bb086b;
    padding: 2px 8px;
    color: #fff;
}