* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1016px;
    border-left: 1px solid #bababa;
    border-right: 1px solid #bababa;
}
.header_top {
    background-color: #222;
}

.header_top .container {
    height: 125px;
    background-image: url('../img/banner.jpg');
    background-position: right 2px top;
    background-repeat: no-repeat;
    padding-top: 1px;
}

h1 {
    color: #fff;
    margin: 43px 0 0 12px;  
    font-size: 33px;  
}

.header_bottom {
    background: -moz-linear-gradient(270deg, #b1dc08 0%, #8bab08 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b1dc08), color-stop(100%, #8bab08)); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, #b1dc08 0%, #8bab08 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, #b1dc08 0%, #8bab08 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, #b1dc08 0%, #8bab08 100%); /* ie10+ */
    background: linear-gradient(180deg, #b1dc08 0%, #8bab08 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1dc08', endColorstr='#8bab08',GradientType=0 ); /* ie6-9 */
}

#main_menu {
    list-style: none;
}

#main_menu li {
    display: inline-block;  
    border-right: 1px solid rgba(176, 219, 16, 1); 
}

#main_menu li a {
    display: inline-block;
    text-decoration: none;  
    color: #fff;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    font-size: 14px;
}

#main_menu li a:hover {
    background: -moz-linear-gradient(90deg, #b1dc08 0%, #8bab08 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8bab08), color-stop(100%, #b1dc08)); /* safari4+,chrome */
background: -webkit-linear-gradient(90deg, #b1dc08 0%, #8bab08 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(90deg, #b1dc08 0%, #8bab08 100%); /* opera 11.10+ */
background: -ms-linear-gradient(90deg, #b1dc08 0%, #8bab08 100%); /* ie10+ */
background: linear-gradient(0deg, #b1dc08 0%, #8bab08 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bab08', endColorstr='#b1dc08',GradientType=0 ); /* ie6-9 */
}

main {
    background-color: #eee;   
}

main .container {
    background-color: #fff;
    padding-top: 1px;
}


h4 {
    margin: 22px 0 0 15px;
}

h2 {
    color: #6f6566;
    font-size: 20px;
    margin: 18px 0 0 15px;
}

hr {
    border-bottom: 1px solid #b0db09;
    margin: 0 14px 18px 14px;
}

.list {
    margin: 0 55px 14px 55px; 
}

p { 
    margin: 0 12px 0 30px;
    
}

.link {
    text-decoration: none;
    color: #456e0f;
}

footer {
    background-color: #eee;
}

footer .container {
    background: -moz-linear-gradient(270deg, #b1dc08 0%, #8bab08 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b1dc08), color-stop(100%, #8bab08)); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, #b1dc08 0%, #8bab08 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, #b1dc08 0%, #8bab08 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, #b1dc08 0%, #8bab08 100%); /* ie10+ */
    background: linear-gradient(180deg, #b1dc08 0%, #8bab08 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1dc08', endColorstr='#8bab08',GradientType=0 ); /* ie6-9 */
}

.text_footer {
    color: #fff;
    text-align: right;
    letter-spacing: 1.5px;
    padding: 5px 16px;
}