* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a143b;
}
body.loading {
  overflow: hidden;
}
body.loading .spinner-border {
  display: block;
}

.spinner-border {
  display: none;
}

.fade {
  background-color: rgba(0, 0, 0, 0.7);
}

.form-control,
.form-select {
  border: 4px solid #ced4da;
  border-radius: 0;
}

#search-btn {
  background-color: transparent;
  vertical-align: middle;
  color: #f8114d;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 4px solid #f8114d;
  border-radius: 0;
  position: relative;
  transition: all 700ms ease;
}
#search-btn .btn-blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}
#search-btn .btn-blobs div {
  background-color: #f8114d;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}
#search-btn .btn-blobs div:nth-child(1) {
  left: -5%;
}
#search-btn .btn-blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}
#search-btn .btn-blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}
#search-btn:hover {
  color: #fff;
}
#search-btn:hover .btn-blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}
#search-btn:focus {
  box-shadow: none;
}

.img_wrap {
  position: relative;
  overflow: hidden;
  margin: 3px;
  border-radius: 4px 4px 0 0;
}
.img_wrap::before {
  content: "";
  display: block;
  padding-top: 138%;
  width: 100%;
}
.img_wrap img {
  border-radius: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.blocks .card {
  width: calc(20% - 20px);
  max-height: 520px;
  min-width: 238px;
  animation: pulsing-blocks 1s infinite;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
.blocks .card:nth-child(2) {
  animation-delay: 0.1s;
}
.blocks .card:nth-child(3) {
  animation-delay: 0.2s;
}
.blocks .card:nth-child(4) {
  animation-delay: 0.3s;
}
.blocks .card:nth-child(5) {
  animation-delay: 0.4s;
}
.blocks .card:nth-child(6) {
  animation-delay: 0.9s;
}
.blocks .card:nth-child(7) {
  animation-delay: 0.8s;
}
.blocks .card:nth-child(8) {
  animation-delay: 0.7s;
}
.blocks .card:nth-child(9) {
  animation-delay: 0.6s;
}
.blocks .card:nth-child(10) {
  animation-delay: 0.5s;
}
.blocks .card .rows_cont {
  display: none;
}

@keyframes pulsing-blocks {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.rows .card {
  width: 100%;
  max-height: 340px;
  flex-direction: row;
  animation: pulsing-rows 1s infinite;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}
.rows .card .btn-light {
  margin-left: 45px;
}
.rows .card .img_wrap {
  width: 20%;
  border-radius: 4px 0 0 4px;
}
.rows .card .rows_cont {
  display: inline;
}
.rows .card.card:nth-child(2) {
  animation-delay: 0.2s;
}
.rows .card.card:nth-child(3) {
  animation-delay: 0.4s;
}
.rows .card.card:nth-child(4) {
  animation-delay: 0.6s;
}
.rows .card.card:nth-child(5) {
  animation-delay: 0.8s;
}
.rows .card.card:nth-child(6) {
  animation-delay: 0.1s;
}
.rows .card.card:nth-child(7) {
  animation-delay: 0.12s;
}
.rows .card.card:nth-child(8) {
  animation-delay: 0.14s;
}
.rows .card.card:nth-child(9) {
  animation-delay: 0.16s;
}
.rows .card.card:nth-child(10) {
  animation-delay: 0.18s;
}

@keyframes pulsing-rows {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.card.btn {
  position: relative;
  left: 0;
  bottom: 0;
}

.card-title {
  height: 45px;
  overflow: hidden;
}

.ratings_wrap {
  max-width: 500px;
}

.rating_wrap {
  border-radius: 5px;
  height: 10px;
  position: relative;
  background: -moz-linear-gradient(0deg, #f7e1e7 0%, #f8114d 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f7e1e7), color-stop(100%, #f8114d));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(0deg, #f7e1e7 0%, #f8114d 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(0deg, #f7e1e7 0%, #f8114d 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(0deg, #f7e1e7 0%, #f8114d 100%);
  /* ie10+ */
  background: linear-gradient(90deg, #f7e1e7 0%, #f8114d 100%);
  /* w3c */
  overflow: hidden;
}
.rating_wrap .scale {
  position: absolute;
  right: 0;
  top: 0;
  height: 20px;
  background-color: #a0a0a0;
}

#fav_list {
  position: fixed;
  background-color: #fff;
  width: 300px;
  height: 100%;
  top: 0;
  left: -298px;
  padding: 30px;
  border-right: 2px solid #f8114d;
}
#fav_list .content {
  max-height: 100%;
  overflow-y: auto;
}
#fav_list .card {
  background: #1a143b;
  color: #fff;
}
#fav_list.active {
  left: 0;
  transition: all 0.5s ease;
}
#fav_list.no-active {
  transition: all 0.5s ease;
}
#fav_list .btn-info {
  position: absolute;
  top: 0;
  right: -50px;
  border: none;
  transition: all 0.5s ease;
}
#fav_list .btn-info:focus {
  box-shadow: none;
}

/* BTN */
.btn-outline-secondary,
.btn-outline-secondary.active,
.btn-primary {
  background-color: transparent;
  border: 1px solid #f8114d;
  color: #f8114d;
  overflow: hidden;
  position: relative;
  max-width: 132px;
  transition: all 700ms ease;
}
.btn-outline-secondary::before,
.btn-outline-secondary.active::before,
.btn-primary::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #f8114d;
  transform: scale(1.4) translateY(90%) translateZ(0);
  transition: all 700ms ease;
  z-index: -1;
}
.btn-outline-secondary:hover, .btn-outline-secondary:active, .btn-outline-secondary.active,
.btn-outline-secondary.active:hover,
.btn-outline-secondary.active:active,
.btn-outline-secondary.active.active,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active {
  background-color: transparent;
  border-color: #f8114d;
  color: #fff;
}
.btn-outline-secondary:hover::before, .btn-outline-secondary:active::before, .btn-outline-secondary.active::before,
.btn-outline-secondary.active:hover::before,
.btn-outline-secondary.active:active::before,
.btn-outline-secondary.active.active::before,
.btn-primary:hover::before,
.btn-primary:active::before,
.btn-primary.active::before {
  transform: scale(1.4) translateY(0) translateZ(0);
}
.btn-outline-secondary:focus,
.btn-outline-secondary.active:focus,
.btn-primary:focus {
  background-color: transparent;
  border-color: #f8114d;
  box-shadow: none;
}

.btn-outline-secondary,
.btn-outline-secondary.active {
  z-index: 0;
}

.btn-primary {
  z-index: 10;
}

/* BTN-HEART */
.btn-light {
  max-width: 41px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0 auto;
  transition: all 0.4s ease-in;
}
.btn-light:before {
  content: "";
  background-color: #f8114d;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(0.001, 0.001);
}
.btn-light:focus {
  outline: 0;
  color: #f8114d;
  box-shadow: none;
}
.btn-light:focus:before {
  animation: effect_dylan 0.8s ease-out;
}

@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}
/* PAGINATION */
.page-link {
  color: #f8114d;
}
.page-link:hover, .page-link:focus {
  color: #f8114d;
  z-index: 0;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #f8114d;
  border-color: #f8114d;
  z-index: 0;
}
.page-item.active .page-link:hover, .page-item.active .page-link:focus {
  z-index: 0;
}

/* TOAST */
#vanilla-toast.custom {
  font-size: 16px;
  text-transform: uppercase;
  background-color: #f8114d;
}