* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Myriad Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"), url("../fonts/myriad/MYRIADPRO-REGULAR.woff2") format("woff2");
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #3672fd;
}

.popup__fade:before {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 9999;
}

.popup {
  margin: 0 auto;
  background-color: #fff;
  width: 812px;
  height: 623px;
  border-radius: 10px;
  padding-top: 56px;
  text-align: center;
  position: relative;
  margin-top: 102px;
  z-index: 99999;
  opacity: 1;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
}
.popup__close::before, .popup__close::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 5px;
  width: 30px;
  height: 2px;
  background: -moz-linear-gradient(39deg, #3695ff 0%, #3564fc 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #3695ff), color-stop(100%, #3564fc));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(39deg, #3695ff 0%, #3564fc 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(39deg, #3695ff 0%, #3564fc 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(39deg, #3695ff 0%, #3564fc 100%);
  /* ie10+ */
  background: linear-gradient(51deg, #3695ff 0%, #3564fc 100%);
  /* w3c */
}
.popup__close::before {
  transform: rotate(45deg);
}
.popup__close::after {
  transform: rotate(-45deg);
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.popup__title {
  font-size: 50px;
  font-family: "Myriad Pro Regular";
  color: #3677fd;
  margin-bottom: 41px;
}

.form__input,
.form__textarea {
  border: 1px solid #b7c0c9;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #5a5a5a;
  line-height: 2.188;
  width: 521px;
  height: 47px;
  padding-left: 22px;
  margin-bottom: 14px;
}

.form__textarea {
  width: 521px;
  height: 182px;
  padding-top: 4px;
  margin-bottom: 42px;
  resize: none;
}

.form__input:focus,
.form__textarea:focus {
  outline: none;
  border: 1px solid #3677fd;
}

.form__input:-webkit-autofill {
  box-shadow: 0 0 0 30px #fff inset;
}

.popup__btn {
  background: -moz-linear-gradient(39deg, #3695ff 0%, #3564fc 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #3695ff), color-stop(100%, #3564fc));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(39deg, #3695ff 0%, #3564fc 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(39deg, #3695ff 0%, #3564fc 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(39deg, #3695ff 0%, #3564fc 100%);
  /* ie10+ */
  background: linear-gradient(51deg, #3695ff 0%, #3564fc 100%);
  /* w3c */
  width: 204px;
  height: 55px;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.2s ease;
}
.popup__btn:hover {
  cursor: pointer;
  color: #3677fd;
  background: #fff;
  border: 1px solid #3677fd;
}
.popup__btn:focus {
  outline: none;
}