* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 940px;
    margin: 0 auto;
    text-align: center;
    padding-top: 140px;
}

.sub_h1 {
    color: #898f99;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 4.7px;
    text-transform: uppercase;
    
    padding-left: 20px;
    margin-bottom: 22px;
}

h1 {
    color: #0ec8cb;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 4.7px;
    text-transform: uppercase;
    
    padding-left: 8px;
    margin-bottom: 26px;
}

.tagline {
    color: #898f99;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 1.2px;
    line-height: 29px;
    text-transform: uppercase;
    
    text-align: center;
    
    margin: 0 auto;
    margin-bottom: 96px; 
}

ul {
    font-size: 0;
}

li {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 25%;
    height: 420px;
    background-color: #f7f7f7;
    border: 1px solid #ececec;
    padding: 50px 28px;
}

.icon {
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-image: url(sprite.png);
    height: 70px;
    width: 70px;
    margin-bottom: 42px;
}

.icon.icon_1 {
    background-position: 3px -113px;
}

.icon.icon_2 {
    background-position: -231px -113px;
}

.icon.icon_3 {
    background-position: -466px -113px;
}

.icon.icon_4 {
    background-position: -701px -113px;
}

.title {
    vertical-align:middle; 
    display:table-cell;
    width: 250px;
    height: 48px;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
}

.text_item {
    color: #777777;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    
    padding-top: 14px;
}

/* HOVER */

.item_1:hover,
.item_1:hover li,
.item_1:hover .icon.icon_1, 
.item_1:hover .title,
.item_1:hover .text_item {
    background-color: #0ec8cb;
    border-color: #0ac6c9;
    background-position: 3px 4px;
    color: #fff;
}

.item_2:hover,
.item_1:hover li,
.item_2:hover .icon.icon_2, 
.item_2:hover .title,
.item_2:hover .text_item {
    background-color: #0ec8cb;
    border-color: #0ac6c9;
    background-position: -231px 4px;
    color: #fff;
}

.item_3:hover,
.item_1:hover li,
.item_3:hover .icon.icon_3, 
.item_3:hover .title,
.item_3:hover .text_item {
    background-color: #0ec8cb;
    border-color: #0ac6c9;
    background-position: -466px 4px;
    color: #fff;
}
 
.item_4:hover,
.item_1:hover li,
.item_4:hover .icon.icon_4, 
.item_4:hover .title,
.item_4:hover .text_item {
    background-color: #0ec8cb;
    border-color: #0ac6c9;
    background-position: -701px 4px;
    color: #fff;
}