* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #666 url('../img/bg.jpg') center center no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    color: #6e7f7b;
    font-size: 14px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_wrap {
    width: 337px;
    background-color: #fff;
}

.form_top {
    padding: 0 24px;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efe5aa;
}

.form_title h3 {
    font-weight: bold;
    margin-bottom: 4px;
}

.subtitle {
    color: #a6a28d;
    font-size: 10px;
    text-transform: uppercase;
}

.form_price {
    font-size: 36px;
    color: #637570;
    font-weight: bold;
}

.form_body {
    padding: 40px 24px 20px;
}

.form_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.form_col {
    width: 100%;
}

.small_col {
    width: 96px;
}

.wide_col {
    width: calc(100% - 112px);
}

.form_col label {
    display: block;
    font-size: 13px;
    color: #9eabad;
    font-weight: 700;
    margin-bottom: 7px;
}

.hint {
    color: #9eabad;
    font-size: 12px;
    margin-top: 34px;
}

.form_link {
    text-decoration: none;
    color: #9eabad;
    display: inline-block;
    position: relative;
}

.form_link::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 1px;
    background-color: #9eabad;
    transition: all .2s ease;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.form_link:hover::after {
    width: 100%;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: 2px solid #b4c1c4;
    padding: 0 7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #727f82;
    font-weight: bold;
    outline: 0 none;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #7fcddf;
}

.buttons_block {
    border-top: 1px solid #e4e7e8;
    padding: 30px 0;
    margin: 0 24px;
}

.btn {
    border: 2px solid #26b167;
    background-color: #26b167;
    height: 44px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: all .2s ease;
}

.btn:hover {
    background-color: #fff;
    color: #26b167;
}

.cancel {
    margin-top: 18px;
    text-align: center;
}

.cancel a {
    font-size: 12px;
    font-weight: bold;
}

.jq-selectbox {
    width: 100%;
}

.jq-selectbox__select {
    height: 40px;
    padding: 0 45px 0 7px;
    border: 2px solid #b4c1c4;
    border-bottom-color: #b3b3b3;
    border-radius: 0;
    background: #fff;
    box-shadow: none;
    font-family: 'Monserrat', sans-serif;
    font-size: 13px;
    color: #727f82;
    font-weight: bold;
    text-shadow: none;
    line-height: 36px;
}

.jq-selectbox__trigger {
    border-left: none;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    border-top: 8px solid #94a5a8;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.jq-selectbox__select:hover {
    background: #fff;
}