@import '_reset.scss';
@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('../fonts/myriad/MYRIADPRO-REGULAR.woff2') format('woff2');
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Condensed'), url('../fonts/myriad/MYRIADPRO-COND.woff2') format('woff2');
}

@font-face {
    font-family: 'Myriad Pro Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Condensed Italic'), url('../fonts/myriad/MYRIADPRO-CONDIT.woff2') format('woff2');
}

@font-face {
    font-family: 'Myriad Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Light'), url('../fonts/myriad/MyriadPro-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Myriad Pro Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold'), url('../fonts/myriad/MYRIADPRO-SEMIBOLD.woff2') format('woff2');
}

@font-face {
    font-family: 'Myriad Pro Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold Italic'), url('../fonts/myriad/MYRIADPRO-SEMIBOLDIT.woff2') format('woff2');
}

@font-face {
    font-family: 'Myriad Pro Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Condensed'), url('../fonts/myriad/MYRIADPRO-BOLDCOND.woff2') format('woff2');
}

@font-face {
    font-family: 'Myriad Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold'), url('../fonts/myriad/MYRIADPRO-BOLD.woff2') format('woff2');
}

@font-face {
    font-family: 'Myriad Pro Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Italic'), url('../fonts/myriad/MYRIADPRO-BOLDIT.woff2') format('woff2');
}

@font-face {
    font-family: 'Myriad Pro Bold Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Condensed Italic'), url('../fonts/myriad/MYRIADPRO-BOLDCONDIT.woff2') format('woff2');
}

body {
    background: #f9f8fb url('../img/bg.jpg') top center no-repeat;
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

@import '_about.scss';
@import '_services.scss';
@import '_gallery.scss';
@import '_blog.scss';
@import '_form.scss';