* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f7f8f3;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

/* MOBILE MENU */
#hamburger {
  display: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-wrap .drawer-list {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  transform: translate(100vw, 0);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 125px;
  transition: width 475ms ease-out, transform 450ms ease, border-radius 0.8s 0.1s ease;
  border-bottom-left-radius: 100vw;
  background-color: #f7f8f3;
  background-color: #f7f8f3;
}
@media (min-width: 768px) {
  .nav-wrap .drawer-list {
    width: 40vw;
  }
}
.nav-wrap .drawer-list ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}
.nav-wrap .drawer-list li {
  list-style: none;
  text-transform: uppercase;
  pointer-events: auto;
  white-space: nowrap;
  box-sizing: border-box;
  transform: translatex(100vw);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
}
.nav-wrap .drawer-list li:last-child {
  margin-bottom: 2em;
}
.nav-wrap .drawer-list li a {
  text-decoration: none;
  color: #6e774a;
  text-align: center;
  display: block;
  padding: 1rem;
  font-size: calc(24px - .5vw);
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  .nav-wrap .drawer-list li a {
    text-align: right;
    padding: 0.5rem;
  }
}
.nav-wrap .drawer-list li a:hover {
  cursor: pointer;
  letter-spacing: 5px;
}
.nav-wrap input.hamburger {
  display: none;
}
.nav-wrap input.hamburger:checked ~ .drawer-list {
  transform: translatex(0);
  border-bottom-left-radius: 0;
  border-left: 2px solid #6e774a;
}
.nav-wrap input.hamburger:checked ~ .drawer-list li {
  transform: translatex(0);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(1) {
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(2) {
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(3) {
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(4) {
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(5) {
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(6) {
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(7) {
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(8) {
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(9) {
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(10) {
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(11) {
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(12) {
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(13) {
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(14) {
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(15) {
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(16) {
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(17) {
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(18) {
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(19) {
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(20) {
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(21) {
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(22) {
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(23) {
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(24) {
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(25) {
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(26) {
  transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(27) {
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(28) {
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(29) {
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(30) {
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(31) {
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(32) {
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(33) {
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(34) {
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(35) {
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(36) {
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(37) {
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(38) {
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(39) {
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(40) {
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(41) {
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(42) {
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(43) {
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(44) {
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(45) {
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(46) {
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(47) {
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(48) {
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(49) {
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li:nth-child(50) {
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.nav-wrap input.hamburger:checked ~ .drawer-list li a {
  padding-right: 15px;
}
.nav-wrap input.hamburger:checked ~ label > i {
  background-color: transparent;
  transform: rotate(90deg);
}
.nav-wrap input.hamburger:checked ~ label > i:before {
  background-color: #6e774a;
  transform: translate(-50%, -50%) rotate(315deg);
}
.nav-wrap input.hamburger:checked ~ label > i:after {
  background-color: #6e774a;
  transform: translate(-50%, -50%) rotate(-315deg);
}
.nav-wrap label.hamburger {
  z-index: 9999;
  position: relative;
  display: none;
  height: 50px;
  width: 50px;
}
.nav-wrap label.hamburger:hover {
  cursor: pointer;
}
.nav-wrap label.hamburger > i {
  position: absolute;
  width: 100%;
  height: 3px;
  top: 50%;
  background-color: #f7f8f3;
  pointer-events: auto;
}
.nav-wrap label.hamburger > i:before, .nav-wrap label.hamburger > i:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  left: 50%;
  background-color: #f7f8f3;
  content: "";
  transition: transform 0.35s;
  transform-origin: 50% 50%;
}
.nav-wrap label.hamburger > i:before {
  transform: translate(-50%, -14px);
}
.nav-wrap label.hamburger > i:after {
  transform: translate(-50%, 14px);
}
.nav-wrap label.hamburger {
  position: fixed;
  top: 15px;
  right: 30px;
}

/* HEADER */
.scrolled {
  transition: all 0.3s ease;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 2400;
}
.scrolled .nav-wrap {
  height: 60px;
}
.scrolled .nav-wrap label.hamburger {
  height: 30px;
}
.scrolled .nav-wrap label.hamburger > i {
  background-color: #6e774a;
}
.scrolled .nav-wrap label.hamburger > i:before, .scrolled .nav-wrap label.hamburger > i:after {
  background-color: #6e774a;
}
.scrolled .nav-wrap .logo a {
  color: #6e774a;
}
.scrolled .nav-wrap .nav-list {
  padding-top: 0;
}
.scrolled .nav-wrap .nav-list .item .nav-link {
  color: #6e774a;
}
.scrolled .nav-wrap .login .log-list .item {
  padding: 4px 34px 4px 31px;
  border-left-color: #6e774a;
}
.scrolled .nav-wrap .login .log-list .item .log-link {
  color: #6e774a;
}
.scrolled .nav-wrap .login .log-list .item .log-link.search::before {
  background: url("../img/search_gr.svg") center center no-repeat;
}

header {
  transition: all 0.3s ease;
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 1600;
}
header::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.4;
  position: absolute;
  bottom: 0;
  left: 0;
}
header .nav-wrap {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-wrap .logo {
  width: 20%;
  text-align: center;
}
header .nav-wrap .logo a {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  line-height: 1.833;
  text-decoration: none;
}
header .nav-wrap #nav {
  width: 22.2%;
  min-width: 387px;
}
header .nav-wrap .nav-list {
  padding-top: 6px;
  margin-left: 10%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-wrap .nav-list .item {
  min-width: 10px;
}
header .nav-wrap .nav-list .item .nav-link {
  margin-left: 18px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  letter-spacing: 0.96px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
header .nav-wrap .nav-list .item .nav-link::after {
  content: "";
  position: absolute;
  left: -10%;
  top: 12px;
  background: #9db892;
  width: 0px;
  height: 2px;
  transition: all 0.2s ease;
}
header .nav-wrap .nav-list .item .nav-link:hover::after, header .nav-wrap .nav-list .item .nav-link.nav-link--active::after {
  width: 120%;
}
header .nav-wrap .login {
  width: 22.2%;
  min-width: 387px;
  height: 100%;
}
header .nav-wrap .login .log-list {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .nav-wrap .login .log-list .item {
  padding: 30px 34px 24px 31px;
  text-align: center;
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}
header .nav-wrap .login .log-list .item .log-link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  letter-spacing: 0.96px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
header .nav-wrap .login .log-list .item .log-link.search {
  padding-left: 32px;
}
header .nav-wrap .login .log-list .item .log-link.search::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 20px;
  background: url("../img/search.svg") center center no-repeat;
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
}
header .nav-wrap .login .log-list .item .log-link::after {
  content: "";
  position: absolute;
  left: -10%;
  top: 12px;
  background: #9db892;
  width: 0px;
  height: 2px;
  transition: all 0.2s ease;
}
header .nav-wrap .login .log-list .item .log-link:hover::after {
  width: 120%;
}

@media screen and (max-width: 1099px) {
  #nav,
.login {
    display: none;
  }

  header .nav-wrap .logo {
    width: 20%;
  }

  .nav-wrap #hamburger {
    display: contents;
  }

  .nav-wrap label.hamburger {
    display: block;
  }
}
/* FIRST-SCREEN */
#first-screen {
  background: url("../img/bg.jpg") center center no-repeat;
  background-size: cover;
  text-align: right;
  padding-top: 36.8vh;
  height: 100vh;
  min-height: 700px;
  position: relative;
}
#first-screen::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25vh;
  background: -moz-linear-gradient(270deg, rgba(1, 24, 63, 0.35) 0%, white 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(1, 24, 63, 0.35)), color-stop(100%, white));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, rgba(1, 24, 63, 0.35) 0%, white 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, rgba(1, 24, 63, 0.35) 0%, white 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, rgba(1, 24, 63, 0.35) 0%, white 100%);
  /* ie10+ */
  background: linear-gradient(180deg, rgba(1, 24, 63, 0.35) 0%, white 100%);
  /* w3c */
}
#first-screen h1 {
  margin-block-end: 0;
  font-size: 55px;
  font-family: "Oswald", sans-serif;
  color: #f7f8f3;
  text-transform: uppercase;
  line-height: 1.364;
  letter-spacing: 15.4px;
  position: relative;
  left: 15.4px;
}
#first-screen h1 span {
  width: 100%;
  float: left;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  transform: translateY(-50px);
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
#first-screen h1 span {
  animation-delay: 0.6s;
}
#first-screen h1 span:first-child {
  animation-delay: 0.7s;
}
#first-screen h1 span:last-child {
  animation-delay: 0.5s;
}
@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
}
#first-screen .subtitle {
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  color: #f7f8f3;
  line-height: 3.125;
  letter-spacing: 6.72px;
  position: relative;
  left: 6.72px;
  margin-bottom: 30px;
}
#first-screen button {
  border: 1px solid #9db892;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  width: 270px;
  height: 70px;
  text-align: left;
  padding-left: 38px;
  position: relative;
  transition: all 0.2s ease;
}
#first-screen button::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 38px;
  width: 46px;
  height: 2px;
  background-color: #fff;
  transition: all 0.2s ease;
}
#first-screen button:hover {
  background-color: rgba(157, 184, 146, 0.5);
}
#first-screen button:hover::after {
  transform: translateX(10px);
}
#first-screen .link {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #f7f8f3;
  line-height: 4.167;
  font-weight: 100;
  letter-spacing: 5.04px;
  position: relative;
  left: 5.04px;
  padding-right: 44px;
  margin-bottom: 100px;
}
#first-screen .link a {
  transition: all 0.2s ease;
  text-decoration: none;
  position: relative;
  color: #f7f8f3;
}
#first-screen .link a:active, #first-screen .link a:hover, #first-screen .link a:visited {
  color: #f7f8f3;
}
#first-screen .link a:after {
  content: "";
  background: url("../img/arrow.svg") center center no-repeat;
  position: absolute;
  top: 6px;
  bottom: 0;
  right: -58px;
  padding-top: inherit;
  padding-bottom: inherit;
  width: 2.8em;
  font-family: "FontAwesome", sans-serif;
  font-size: 1.2em;
  text-align: center;
  transition: 0.2s;
  transform-origin: 50% 60%;
}
#first-screen .link a:hover:after {
  -webkit-animation: bounceright 0.3s alternate ease infinite;
  animation: bounceright 0.3s alternate ease infinite;
}
@keyframes bounceright {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(3px);
  }
}
@keyframes wiggle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}
#first-screen .CBD-90deg {
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  line-height: 2.115;
  transform: rotate(-90deg);
  position: absolute;
  left: -30px;
  bottom: 115px;
}

@media screen and (max-width: 700px) {
  #first-screen {
    text-align: center;
  }
  #first-screen h1 {
    font-size: 30px;
    line-height: 1.4;
    letter-spacing: 6px;
    left: 6px;
  }
  #first-screen .subtitle {
    font-size: 18px;
    line-height: 2.222;
    letter-spacing: 0.72px;
    left: 0.72px;
  }
  #first-screen .CBD-90deg {
    display: none;
  }
}
/* SCROLL */
.scroll {
  width: 16px;
  height: 40px;
  position: absolute;
  bottom: 2vh;
  left: calc(50% - 2px);
  cursor: pointer;
  margin-top: -25px;
  z-index: 1200;
}

.scroll .wheel {
  position: relative;
  top: -4px;
  left: 0;
  animation-name: scroll-wheel;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.scroll .wheel::before, .scroll .wheel::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 30px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.8);
}
.scroll .wheel::before {
  right: 12px;
  transform: rotate(45deg);
}
.scroll .wheel::after {
  left: -6px;
  transform: rotate(-45deg);
}

@keyframes scroll-wheel {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 8px, 0);
    opacity: 0;
  }
}
/* HOME */
#home .logos {
  padding-top: 100px;
  margin-bottom: 90px;
  text-align: center;
}
#home .logos img {
  width: 690px;
  height: 200px;
}
#home .root-wrap {
  width: 90%;
  max-width: 970px;
  margin: 0 auto;
}
#home ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  position: relative;
  margin-bottom: 114px;
}
#home ul::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ced6af;
  position: absolute;
  bottom: 0;
  left: 0;
}
#home ul li {
  margin-right: 9.8%;
  font-size: 30px;
  letter-spacing: 6px;
  font-family: "Oswald", sans-serif;
  color: #1c1c1b;
  text-transform: uppercase;
  line-height: 2.45;
}
#home ul li a {
  color: #1c1c1b;
  text-decoration: none;
  position: relative;
}
#home ul li a:active, #home ul li a:hover, #home ul li a:visited {
  color: #1c1c1b;
}
#home ul li.is-active {
  position: relative;
}
#home ul li.is-active::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1c1c1b;
  position: absolute;
  bottom: 0;
  left: 0;
}
#home .tab_wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}
#home .tab_wrap .content {
  width: 42.2%;
}
#home .tab_wrap .tab_right {
  width: 57.8%;
}
#home .tab_wrap .tab_right .wrapper {
  width: 100%;
  margin: 2px;
}
#home .tab_wrap .tab_right .padded-container {
  height: 300px;
  position: relative;
  top: -34px;
  left: 34%;
  overflow: hidden;
  padding-bottom: 50%;
  margin-bottom: 30px;
}
#home .tab_wrap .tab_right img {
  object-fit: cover;
}
#home .tab_wrap .tab_right img.img1 {
  object-position: -3px -82px;
}
#home .tab_wrap .tab_right img.img2 {
  object-position: -7px -40px;
}
#home .tab_wrap .tab_right .img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1365px) {
  #home .tab_wrap .tab_right .padded-container {
    left: 15%;
  }
}
@media screen and (max-width: 1140px) {
  #home ul {
    justify-content: space-between;
  }
  #home ul li {
    font-size: 22px;
    letter-spacing: 4.4px;
    margin-right: 4%;
  }
}
@media screen and (max-width: 700px) {
  #home ul {
    margin-bottom: 40px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  #home ul::before {
    display: none;
  }
  #home ul li {
    width: 90%;
    font-size: 22px;
    letter-spacing: 4.4px;
    margin-right: 4%;
  }
  #home ul li.is-active::before {
    background-color: #ced6af;
  }
  #home .tab_wrap {
    flex-wrap: wrap;
    margin-bottom: 75px;
  }
  #home .tab_wrap .content {
    width: 100%;
  }
  #home .tab_wrap .tab_right {
    width: 100%;
  }
  #home .tab_wrap .tab_right .padded-container {
    height: 200px;
    top: 0;
    left: 0;
  }
}
#home h2 {
  width: 280px;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  color: #000;
  text-transform: uppercase;
  line-height: 1.667;
  letter-spacing: 4.8px;
  margin-bottom: 28px;
}
#home p {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  color: #6e774a;
  line-height: 2.222;
  text-align: left;
  letter-spacing: 0.72px;
  margin-bottom: 44px;
}

@media screen and (max-width: 768px) {
  #home .logos {
    display: none;
  }
  #home .root-wrap {
    padding-top: 40px;
  }
}
/* PRODUCTS */
#products {
  height: 738px;
}
#products h2 {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  color: #1c1c1b;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 6px;
  margin-bottom: 70px;
}
#products .swiper-container {
  width: 100%;
}
#products .swiper-slide {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  background-color: #f1f1f1;
  border: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#products .swiper-button-prev,
#products .swiper-button-next {
  color: #000;
  position: relative;
  top: 80px;
  width: 40px;
  height: 20px;
}
#products .swiper-button-prev {
  left: calc(50% - 70px);
}
#products .swiper-button-next {
  left: calc(50% + 28px);
}
#products .swiper-button-next:after,
#products .swiper-button-prev:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
#products .swiper-button-next:after {
  background: url("../img/Right.png") center center no-repeat;
}
#products .swiper-button-prev:after {
  background: url("../img/Right.png") center center no-repeat;
  transform: rotate(180deg);
}
#products .rating_wrap {
  padding-top: 18px;
  position: relative;
  right: 5px;
  margin-bottom: 7px;
}
#products .rating_wrap .star {
  font-size: 18px;
  letter-spacing: -7.5px;
}
#products h3 {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #1c1c1b;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin-bottom: 30px;
}
#products img {
  width: 195px;
  height: 260px;
  object-fit: none;
}
#products .prod_top {
  width: 100%;
  height: 430px;
  border: 1px solid #ced6af;
  background-color: #fff;
}
#products .prod_bottom {
  width: 100%;
  height: 76px;
  display: flex;
  justify-content: space-between;
}
#products .price {
  padding-left: 28px;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #1c1c1b;
  text-transform: uppercase;
  line-height: 4.167;
  text-align: left;
  letter-spacing: 2.7px;
}
#products .btn {
  transition: all 0.3s ease;
  width: 188px;
  height: 76px;
  background-color: #6e774a;
  border: 2px solid #6e774a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding-left: 40px;
  position: relative;
}
#products .btn::after {
  transition: all 0.3s ease;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 40px;
  width: 45px;
  height: 2px;
  background-color: #fff;
}
#products .btn:hover {
  background-color: #fff;
  color: #6e774a;
}
#products .btn:hover::after {
  background-color: #6e774a;
  transform: translateX(10px);
}

/* FAQs */
#faqs {
  text-align: center;
  padding-top: 100px;
}
#faqs h1 {
  font-size: 30px;
  font-family: "Oswald";
  color: #1c1c1b;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 42px;
}
#faqs .accordion {
  width: 50%;
  padding: 0;
  margin: 0 auto 150px;
}
#faqs .accordion div:last-child .accordion-item-details {
  border-radius: 5px;
}
#faqs .accordion dd {
  margin-left: 0;
}
#faqs .accordion-item-trigger,
#faqs .accordion-item-details-inner {
  padding: 18px 19px;
  font-size: 18px;
  font-weight: 100;
  font-family: "Oswald", sans-serif;
  color: black;
  text-align: left;
  line-height: 2.222;
  letter-spacing: 0.72px;
}
#faqs .accordion-item-trigger {
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#faqs .accordion-item-details-inner {
  padding: 18px 0 39px 55px;
}
#faqs .accordion-item-title {
  position: relative;
  border-top: 1px solid rgba(10, 10, 10, 0.1);
}
#faqs .accordion-item-title:last-child {
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
}
#faqs .accordion-item-title h4 {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #6e774a;
  text-align: left;
  letter-spacing: 5.04px;
  font-weight: 100;
  padding-left: 36px;
}
#faqs .accordion-item-trigger-icon {
  position: absolute;
  left: 0;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  opacity: 0.3;
  transition: all 0.2s ease-in-out;
}
#faqs .accordion-item-trigger-icon:hover {
  opacity: 1;
}
#faqs .accordion-item-trigger-icon:hover:before {
  transform: rotate(45deg);
}
#faqs .accordion-item-trigger-icon:hover:after {
  transform: rotate(-45deg);
}
#faqs .accordion-item-trigger-icon:before, #faqs .accordion-item-trigger-icon:after, #faqs .accordion-item-trigger-icon.is-active {
  transition: all 0.2s ease-in-out;
  content: " ";
  position: absolute;
  left: 15px;
  height: 20px;
  width: 2px;
  background-color: #333;
}
#faqs .accordion-item-trigger-icon:before {
  transform: rotate(90deg);
}
#faqs .accordion-item-trigger-icon:after {
  transform: rotate(-180deg);
}
#faqs .accordion-item-details {
  overflow: hidden;
  background-color: transparent;
}
#faqs .accordion-item-enter-active,
#faqs .accordion-item-leave-active {
  will-change: height;
  transition: height 0.2s ease;
}
#faqs .accordion-item-enter,
#faqs .accordion-item-leave-to {
  height: 0 !important;
}
#faqs .accordion-item.is-active .accordion-item-trigger-icon {
  opacity: 1;
}
#faqs .accordion-item.is-active .accordion-item-trigger-icon:before {
  transform: rotate(45deg);
}
#faqs .accordion-item.is-active .accordion-item-trigger-icon:after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 1200px) {
  #faqs .accordion {
    width: 80%;
  }
}
/* appComment */
#comment #appComment {
  position: relative;
}
#comment #appComment .swiper-container {
  width: 100%;
  height: 800px;
}
#comment #appComment .swiper-slide {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-top: 12.5%;
}
#comment #appComment .swiper-slide::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(28, 32, 11, 0.6);
}
#comment #appComment .item_1,
#comment #appComment .item_2 {
  padding-top: 100px;
}
#comment #appComment .swiper-button-prev,
#comment #appComment .swiper-button-next {
  top: calc(100% - 77px);
  border: 1px solid #f7f8f3;
  width: 130px;
  height: 100px;
}
#comment #appComment .swiper-button-prev {
  left: calc(50% - 129px);
}
#comment #appComment .swiper-button-next {
  left: calc(50% - 0px);
}
#comment #appComment .swiper-button-next:after,
#comment #appComment .swiper-button-prev:after {
  content: "";
  position: absolute;
  top: 6px;
  width: 100%;
  height: 100%;
  background: url("../img/arrow_tr.svg") center center no-repeat;
}
#comment #appComment .swiper-button-next:after {
  right: 2px;
}
#comment #appComment .swiper-button-prev:after {
  left: 2px;
  transform: rotate(180deg);
}
#comment #appComment .rating_wrap {
  position: relative;
  right: 7.5px;
  margin-bottom: 22px;
}
#comment #appComment .rating_wrap .star {
  font-size: 18px;
  letter-spacing: -7.5px;
}
#comment #appComment p {
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  color: white;
  line-height: 1.818;
  text-align: center;
  letter-spacing: 4.4px;
  z-index: 10;
  width: 40%;
  margin-bottom: 14px;
}
#comment #appComment .name {
  padding: 10px 0;
  font-size: 22px;
  font-weight: 100;
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 7px;
  z-index: 10;
  position: relative;
  left: 24px;
}
#comment #appComment .name::before {
  content: "";
  display: block;
  position: absolute;
  width: 45px;
  height: 2px;
  top: 50%;
  left: -60px;
  background-color: #fff;
}
#comment #appComment .CBD-90deg {
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 2.5;
  transform: rotate(90deg);
  position: absolute;
  left: 0;
  bottom: 115px;
  z-index: 10;
}

@media screen and (max-width: 700px) {
  #comment #appComment .swiper-container {
    height: 700px;
  }
  #comment #appComment .swiper-button-prev,
#comment #appComment .swiper-button-next {
    display: none;
  }
  #comment #appComment p {
    width: 90%;
  }
  #comment #appComment .CBD-90deg {
    display: none;
  }
}
/* FOOTER */
#contact .logo_footer {
  padding-top: 174px;
  text-align: center;
  position: relative;
  margin-bottom: 38px;
}
#contact .logo_footer::before, #contact .logo_footer::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 27px;
  width: 31.5%;
  height: 2px;
  background-color: #6e774a;
}
#contact .logo_footer::before {
  left: 0;
}
#contact .logo_footer::after {
  right: 0;
}
#contact .contacts {
  display: flex;
  justify-content: space-between;
}
#contact .contacts .footer_left,
#contact .contacts .footer_right {
  padding-top: 28px;
  width: 31.5%;
  font-size: 14px;
  font-weight: 100;
  font-family: "Oswald";
  color: #6e774a;
  text-transform: uppercase;
  text-align: center;
}
#contact .contacts .footer_left a,
#contact .contacts .footer_right a {
  margin-bottom: 20px;
  display: block;
  color: #6e774a;
  text-decoration: none;
  letter-spacing: 3.92px;
  transition: all 0.3s ease;
}
#contact .contacts .footer_left a:active, #contact .contacts .footer_left a:hover, #contact .contacts .footer_left a:visited,
#contact .contacts .footer_right a:active,
#contact .contacts .footer_right a:hover,
#contact .contacts .footer_right a:visited {
  color: #6e774a;
}
#contact .contacts .footer_left a:hover, #contact .contacts .footer_left a:active,
#contact .contacts .footer_right a:hover,
#contact .contacts .footer_right a:active {
  letter-spacing: 5px;
}
#contact .soc-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 20px 0;
}
#contact .soc-list a {
  transition: all 0.5s ease;
  position: relative;
  margin: 0 24px;
}
#contact .soc-list a .icon {
  transition: all 0.5s ease;
  font-size: 24px;
  color: #6e774a;
}
#contact .soc-list a .icon:hover::before {
  -webkit-animation: bounceright 0.3s alternate ease infinite;
  animation: bounceright 0.3s alternate ease infinite;
}
@keyframes bounceright {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(2px);
  }
}
#contact h3 {
  padding-top: 92px;
  letter-spacing: 2.7px;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #1c1c1b;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 25px;
}
#contact h3::before {
  content: "";
  position: absolute;
  display: block;
  top: 14px;
  left: calc(50% - 4px);
  width: 2px;
  height: 55px;
  background-color: #6e774a;
}
#contact form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #ced6af;
  width: 370px;
  height: 60px;
  margin-bottom: 58px;
}
#contact form input {
  padding-left: 29px;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 4.48px;
  background: transparent;
  border: none;
  width: 76%;
}
#contact form input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #6e774a;
}
#contact form input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #6e774a;
}
#contact form input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #6e774a;
}
#contact form input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #6e774a;
}
#contact form button {
  width: 24%;
  height: 50px;
  background-color: transparent;
  border: none;
  border-left: 2px solid #ced6af;
  position: relative;
  cursor: pointer;
}
#contact form button:after {
  content: "";
  background: url("../img/arrow_gr.svg") center center no-repeat;
  background-size: 25px 16px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
#contact .CBD {
  font-size: 11px;
  font-family: "Oswald", sans-serif;
  color: #6e774a;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.08px;
  padding-bottom: 54px;
}

@media screen and (max-width: 700px) {
  #contact .logo_footer {
    padding-top: 60px;
  }
  #contact .contacts {
    justify-content: center;
  }
  #contact .contacts .footer_left,
#contact .contacts .footer_right {
    display: none;
  }
}
/* TOAST */
#vanilla-toast.custom {
  font-size: 16px;
  text-transform: uppercase;
  background-color: #6e774a;
}